body {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: rgb(116, 106, 106);
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 0;
}

#weatherIcon {
  width: 80px;
  height: 80px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100vh;
}

.coverOverlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(39, 36, 32);
  width: 100%;
  height: 100vh;
  z-index: 1;
  opacity: 0.2;
}
.weather-app {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 60px;
  z-index: 2;
}
.weather-search {
  margin: 24px 0 30px 0;
}
.forecast-information {
  border: 1px solid rgb(116, 106, 106);
  border-radius: 10px;
  background: rgb(194, 200, 202);
  padding: 30px 25px;
  opacity: 0.9;
}
.city-neededtofind {
  margin: 20px 0;
  padding: 10px 0;
}

#temperature {
  padding: 0;
  text-align: match-parent;
}

#windSpeed {
  text-align: end;
}

.current-icon {
  color: yellow;
  font-size: 40px;
}
.current-temperature {
  font-size: 40px;
  color: rgb(116, 106, 106);
}
.humidity {
  font-size: 12px;
  margin-top: 12px;
}
#wind {
  font-size: 12px;
}
.current-data {
  display: block;
  text-align: right;
}
.clouds {
  color: rgb(116, 106, 106);
  text-transform: capitalize;
  font-size: small;
}

.date {
  font-size: 12px;
}
.coder {
  text-align: center;
  margin-top: 20px;
  color: rgb(197 213 226);
  font-size: 10px;
}
.weather-for-a-week {
  text-align: center;
  margin-top: 30px;
  font-size: 24px;
  color: rgb(116, 106, 106);
  opacity: 0.7;
}

.temperature-max,
.temperature-min {
  font-size: 10px;
  color: black;
}
.celsius-fahrenheit {
  position: static;
  font-size: 12px;
  margin-top: 12px;
}

.col-3 {
  padding: 0;
}

.celsius-fahrenheit .active {
  color: rgb(116, 106, 106);
  cursor: default;
}

.celsius-fahrenheit .active:hover {
  text-decoration: none;
}
